# gitignore template for Drupal projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml
/web/sites/*services*.yml
/.ddev

# Ignore paths that may contain user-generated content
/web/sites
/private
/keys
/sync_partial

# Ignore paths that may contain temporary files
/tmp

# Ignore tar backups
*.tar.gz
# Ignore git repos inside vendor folders
#/vendor/webflo/drupal-finder/.github
