.ckeditor-accordion-container > dl dt > a,
.ckeditor-accordion-container > dl dt > a:not(.button),
.ckeditor-accordion-container > dl dt.active > a  {
  background-color: #155295;
  border-bottom: 1px solid #ffffff;
}

.ckeditor-accordion-container > dl dt > a:hover,
.ckeditor-accordion-container > dl dt > a:not(.button):hover {
  background-color: #0f3967;
}
.ckeditor-accordion-container > dl {
  border: 1px solid #155295;
}
