.summary2 {
  border-bottom: 1px solid #808080;
  height: auto;
  position: relative;
  width: auto;
}

.nocolumns {
  margin: 0.5rem 0.5rem 0 0;
  width: 100%;
}

.columns {
  display: grid;
  grid-template-columns: 35% 65%;
  padding-bottom: 0.5rem;
}

.left {
  width: auto;
  margin-right: 0.5rem;
}

.right {
  width: auto;
}

.summary2 .media {
  margin-top: 0;
}

.summary2-title {
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1.75rem;
  margin: 1rem 0;
}

.summary2 .summary2-content {
  padding-right: 1rem;
}
.summary2 .summary2-content p {
  line-height: 1.6;
}
.summary2 .summary2-content .field {
  margin-block-end: 0;
}


/* Responsive layout - stack columns */
@media screen and (max-width: 600px) {
  .columns {
   grid-template-columns: 100%;
  }
  .summary2-title {
    margin: 0.5rem 0;
  }
  .field {
    margin-top: 0!important;
  }
  .field:not(:last-child) {
    margin-block-end: 0.5rem!important;
  }
}
