/* CALENDAR_VIEW module */

/* Revise pager display and remove caption since it duplicates the pager */
.calendar-view-pager li {
  list-style-type: none; 
}
.calendar-view-pager__reset a,
.calendar-view-pager .pager__item > * {
  padding: 2rem 0.5rem;
  font-size: 1.5rem; /* was 0.8125rem */
  line-height: 0;
  text-transform: capitalize; /* was uppercase */
  font-weight: bold;
  text-decoration: none;
}
.pager__item a {
  border: 0 !important;
}
.calendar-view-table caption {
  display: none!important;
}

/* Set colors */
.calendar-view-table {
  --calendar-view-color-light: #edf4fc;
  --calendar-view-color-dark: #134a85;
}

/* Use white text in header when background is dark */
.calendar-view-table th {
  color: #fff !important;
}

.calendar-view-table li:hover {
  background-color: #FDF7DE ; /* #FCEFBD; */
}