/* 
Default table style is solo-table and rows are not shaded.

.w3-table-all - shades alternate rows. Applied to Views via UI.
  Applied to all tables inserted in the text editor via club/src/Plugin/Filter/TableFilter.php.

.number-table - right align numbers
.schedule-table - applies a border between the schedule and ride fields
--------------------------------------------------------------------------*/
  
/* w3-table-all - applied to tables inserted in text editor */
.w3-table-all li {
  list-style: disc !important;
} 
.w3-table-all tr:nth-child(even) {
  background-color: #f7f7f7 !important;
}
.w3-table-all tr:nth-child(odd) {
  background-color: #ffffff !important;
}

.w3-table-all th {
  background-color: #ededed !important;
}

/* revenue table has two header rows */
.revenue-table tr:first-child {
  background-color: #ededed !important;
  font-weight: bold;
}

.number-table {
  width: auto;
}
/* Align the 2nd column and all following columns */
.number-table th:nth-child(n+2), 
.number-table td:nth-child(n+2) {
  text-align: right;
}

.narrow-table {
  width: 50% !important;
  padding-left: 1rem;
}

/* Vertical border between schedule and ride fields */
.schedule-table th:nth-child(3),
.schedule-table td:nth-child(3) {
  border-left: 1px solid gray;
}
